configuration {
	show-icons: true;
}

* {
	background-color: #00000000;
	text-color: White;
	active-background: #00000088;

}

window {
	location:	center;
	anchor:		center;
	background-color: #0a0f14DD;
}

mainbox {
	margin: 10% 33%;
	spacing:  0em;
	children: [
		entry,
		listview
	];
}

element { padding: 10px; }

entry {
	expand:         false;
	vertical-align: 1;
	padding:        5px;
}


element selected.normal {
	background-color: @active-background;
}
